<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="{% url 'test_post' %}?action=show" method="post">
    <h3 align="center">在此写下留言</h3>
    <p align="left"></p>
    <ul align="left">
        <li>至少 5 个字符，不是字节。</li>
        <li>回答正确，将获得 9 到 59 个 UCoin 的随机奖励。</li>
        <li>回答错误，将得到 1 个 UCoin。</li>
        <li>请在验证问题有效期内回答，如问题已经过期或出现其他错误，则视为签到失败而非回答错误。签到文字将被保留 10 分钟，可随时重新签到。</li>
        <li><b>注意：回答按钮点击时即提交，手滑损失自负～</b>
        </li>
    </ul>
    <p></p>
    <p></p>
    <center>
        <p></p>
        <div id="showup">
            <div id="showup">
                <table class="captcha">
                    <tbody>
                    <tr>
                        <td class="text" align="left" width="100%">1、[老手级][单选] 请问：什么是H&amp;R</td>
                    </tr>
                    <tr>
                        <td class="text" style="white-space: nowrap;" align="left" width="100%">
                            <input type="hidden" name="questionid" value="2"/>
                            <input type='radio' name='choice[]' value='4'>不知道是什么鬼<br/>
                            <input type='radio' name='choice[]' value='1'>
                            H&amp;R是英文Hit和Run的简称，说白了就是让大家不要做吸血鬼，PT大忌是吸血。<br/>
                            <input type='radio' name='choice[]' value='2'>H&amp;R就是高和右边英文缩写<br/>
                        </td>
                    </tr>
                    <tr>
                        <td class='text' align='left' width='100%'><textarea cols='100%' rows=2 name='usercomment'>此刻心情:无</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="text" align="center" width="100%">
                            <input type="submit" name="submit" value="提交"/>
                            <input type="submit" name="wantchange" value="仅可换一题"/>
                            <input type="submit" name="wantskip" value="不会"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </center>
</form>
</body>
</html>